#content{
    #sponsorsimage{
        padding-top:7px;
    }
    #feature{
        
        .single-feature{
            padding:48px 0;
        }
        h4{
            font-size:1.7em;
        }
    }
    #mid-content{
        .collection{
            border:1px solid transparent;
            .collection-item.avatar {
                height: 272px ;
            }
            .collection-item {
                border-bottom: none;
                padding-left:0 !important;
                padding-right:0 !important;
            }
        } 
        p{
            width:445px;
            padding-top:18px;
            a{
                text-decoration: underline !important;
                color:#182565;
            }
        }
    }
}

/*------ Plans & Pricing --------*/
#plansAndPricing{
    .card-2{
        border:6px solid #76CF20 !important;
        .card-content{
            h1{
                background: #76CF20 !important;
            }
        }
    }
    .card{
        height:350px;
        border:6px solid #0493dd;
        border-radius:20px;
        .card-content{
            padding:0;
            h1{
                background: #0493dd;
                margin:0;
                font-weight: bold;
                padding: 4px 10px 15px;
                font-size:2em;
            }
            .card-white-portion{
                color:#76CF20;
                padding:10px 18px 40px;
                img{
                    padding-top:12px;
                }
                h2{
                    margin-top:5px;
                    font-size:23px;
                    border-bottom:3px solid #EBEBEB;
                    padding-bottom:13px;
                }
                h5{
                    margin-top:-5px;
                    color:#333;
                    span{
                        color:#0493dd;
                        font-size:21px;
                    }
                }
            }
        }
    }
    .plans-bottom-p{
        font-size:1.6em;
    }
}


/*------ Customer Success --------*/
#customer-success{
    h3{

    }
    ul.collection{
        border:0;
        .collection-item{
            border-bottom:0;
            padding:8px 20px;
        }
         .collection-item.avatar {
            padding-left: 0 !important;
            display: flex;
            a{
                flext-basis:188px;
            }
            .right-content-customer-success{
                flex-basis: 700px;
                padding-top:11px;
                padding-left:10px;
                p{
                    padding-top:15px;
                }
            }
        }
        li.collection.item{
         
        }
    }

}



/* -- media queries -- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #feature{
        padding-top:18px;
    }
    .container{
        width: 100%;
    }
    .collection .collection-item.avatar .secondary-content {
        position: relative; 
    }
    #content #mid-content .collection .collection-item.avatar {
        height: 434px;
    }
    #content #mid-content p {
        width:100%;
    }

    /* customer success */
    .right-content-customer-success{
        p{
            padding-top:0;
        }
        h5{
            margin-top:0px;
        }
    }
    #customer-success ul.collection .collection-item.avatar .right-content-customer-success {
        padding-top:0px;
    }
    #customer-success ul.collection .collection-item.avatar img{
        height: 100px;
    }
    .sidenav-overlay {
        z-index: 995 !important;
    }
    
    #customer-success ul.collection .collection-item.avatar .right-content-customer-success {
        padding-top: 0px !important;
        h5{
            margin-top: 0px;
            font-size: 18px;
        }
    }
    .footer-copyright{
        p{
            padding-right:10px;
            padding-left:10px;
        }
    }
    .img1-mid-content{
        height:190px !important;
    }
  }
  @media only screen and (max-width: 480px) {
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width:767px) {
    .container{
        // width:594px;
        width: 100%;
    }
    .collection .collection-item.avatar .secondary-content {
        position: relative; 
    }
    #content #mid-content .collection .collection-item.avatar {
        height: 434px;
    }
    #content #mid-content p {
        width:100%;
    }
    .secondary-content {
         float: right; 
    }
    .sidenav-overlay {
        z-index: 995 !important;
    }
    #customer-success ul.collection .collection-item.avatar .right-content-customer-success {
        padding-top: 0px !important;
        h5{
            margin-top: 0px;
            font-size: 18px;
        }
    }
    .footer-copyright{
        p{
            padding-right:5px;
            padding-left:5px;
        }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container{
        width:750px;
    }
    .collection .collection-item.avatar .secondary-content {
        position: relative; 
    }
    #content #mid-content .collection .collection-item.avatar {
        height: 434px;
    }
    #content #mid-content p {
        width:100%;
    }
    .secondary-content {
         float: right; 
    }

    .sidenav-overlay {
        z-index: 995 !important;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container{
        width:970px;
    }
    #content #mid-content .collection .collection-item.avatar {
        height: 282px;
    }
    #content #mid-content p {
        width:445px;
    }
    .secondary-content {
         float: right; 
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container{
        width:1170px;
    }
    
    .collection .collection-item.avatar .secondary-content {
        position: absolute; 
    }
  }
